  <div class="large-8 columns">
    <div class="panel">
    <h5 class="title"><a href="#">You <%= @throw.result %>.</a></h5>
    <%= render partial: 'form_results' %>
    </div>
  </div>

<div class="large-4 columns">
  <%
     case @throw.result
       when "Won"
         image = "won.png"
         message = "Congratulations!"
       when "Lost"
         image = "lost.png"
         message = "So sorry!"
       when "Tied"
         image = "tied.png"
         message = "Play again!"
     end
  %>   
  <%= image1 = image_tag(image, :alt => message, :class => "center") %>
</div>

