 <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to 'Rock.Paper.Scissors', root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

     <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">My Info</a>
          <ul class="dropdown">
            <li><%= link_to 'Stats', throws_path %></li>
          </ul>
        </li>
      </ul>
    </section>
 </nav> 
 <!-- End Top Bar -->
